.form_container {
  display: flex;
  justify-content: center;
  color: hsl(0, 0%, 100%);
}

.error {
  background-color: red;
}

.background_container {
  background: rgb(35, 14, 55);
  background: linear-gradient(0deg, rgba(35, 14, 55, 1) 0%);
}

.card_back_container {
  background: rgb(252, 252, 252);
  background: linear-gradient(
    180deg,
    rgba(252, 252, 252, 1) 2%,
    rgba(255, 255, 255, 1) 5%,
    rgba(47, 47, 47, 1) 14.000000000000002%,
    rgba(47, 47, 47, 1) 31%,
    rgba(245, 245, 247, 1) 32%,
    rgba(213, 214, 220, 1) 97%,
    rgba(239, 239, 239, 1) 98%,
    rgba(0, 0, 0, 1) 98%
  );

  border-radius: 5px;
  border: none;
}

.card_front_container {
  background: rgb(105, 92, 224);
  background: linear-gradient(
    45deg,
    rgba(105, 92, 224, 1) 3%,
    rgba(106, 28, 169, 1) 98%
  );
  border-radius: 5px;
  border: none;
}

.card_brand {
  width: 35px;
  height: 35px;
  /* position: absolute; */
  background: hsl(0, 0%, 100%);
  border-radius: 50px;
  margin: 20px;
}

.card_small_brand {
  width: 10px;
  height: 10px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50px;
  margin: 0;
  position: absolute;
  left: 65px;
  top: 32px;
}

.card_number {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
}

.card_dates_inner_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 10px;
}

.title {
  font-size: 12px;
  color: #000;
}

.card_owner {
}

.card_dates {
  display: flex;
  align-items: center;
  margin: 15px;
}

.form_input {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
}

#form_input_expiry_date,
#form_input_year_date {
  width: 55px;
  padding: 12px;
}

#cardholder_name,
#card_number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_input_dates {
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit_btn {
  cursor: pointer;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  margin: 10px;
}

@media screen and (min-width: 376px) {
  .background_img {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .background_container {
    width: 375px;
    height: 240px;
  }

  .card_back_container {
    width: 250px;
    height: 150px;
    position: absolute;
    top: 30px;
    right: 20px;
  }

  .card_cvc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0;
    top: 60px;
    background: #adb5be;
    height: 30px;
    border-radius: 5px;
    width: 220px;
  }

  .card_front_container {
    position: absolute;
    width: 250px;
    height: 150px;
    top: 130px;
    left: 20px;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
  }
}
